[user]
  name = Liam Curry
  email = liam@curry.name
[core]
  whitespace = fix,space-before-tab,tab-in-indent,trailing-space
  editor = vim
[apply]
  whitespace = fix
[color]
 branch = auto
 diff = auto
 status = auto
[color "branch"]
 current = yellow reverse
 local = yellow
 remote = green
[color "diff"]
 meta = yellow bold
 frag = magenta bold
 old = red
 new = cyan
[color "status"]
 added = yellow
 changed = green
 untracked = cyan
