[submodule ".config/nvim/pack/nvim/start/nvim-lspconfig"]
	path = .config/nvim/pack/nvim/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule ".config/nvim/pack/vendor/start/telescope.nvim"]
	path = .config/nvim/pack/vendor/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule ".config/nvim/pack/vendor/start/nvim-treesitter"]
	path = .config/nvim/pack/vendor/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule ".config/nvim/pack/vendor/start/gitsigns.nvim"]
	path = .config/nvim/pack/vendor/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule ".config/nvim/pack/vendor/start/nvim-tree.lua"]
	path = .config/nvim/pack/vendor/start/nvim-tree.lua
	url = https://github.com/nvim-tree/nvim-tree.lua
[submodule ".config/nvim/pack/vendor/start/lualine.nvim"]
	path = .config/nvim/pack/vendor/start/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim
[submodule ".config/nvim/pack/vendor/start/copilot.vim"]
	path = .config/nvim/pack/vendor/start/copilot.vim
	url = https://github.com/github/copilot.vim
[submodule ".config/nvim/pack/vendor/start/plenary.nvim"]
	path = .config/nvim/pack/vendor/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule ".config/nvim/pack/vendor/start/nvim-web-devicons"]
	path = .config/nvim/pack/vendor/start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons.git
[submodule ".config/nvim/pack/vendor/start/tinted-vim"]
	path = .config/nvim/pack/vendor/start/tinted-vim
	url = https://github.com/tinted-theming/tinted-vim.git
