[submodule ".vim/bundle/vim-stylus"]
  path = .vim/bundle/vim-stylus
  url = git://github.com/wavded/vim-stylus.git
[submodule ".vim/bundle/zencoding-vim"]
  path = .vim/bundle/zencoding-vim
  url = git://github.com/mattn/zencoding-vim.git
[submodule ".vim/bundle/vim-pathogen"]
  path = .vim/bundle/vim-pathogen
  url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/nerdtree"]
  path = .vim/bundle/nerdtree
  url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/syntastic"]
  path = .vim/bundle/syntastic
  url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/ctrlp"]
  path = .vim/bundle/ctrlp
  url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/molokai"]
  path = .vim/bundle/molokai
  url = git://github.com/vim-scripts/molokai.git
[submodule ".vim/bundle/vim-indent-object"]
  path = .vim/bundle/vim-indent-object
  url = git://github.com/michaeljsmith/vim-indent-object.git
[submodule ".vim/bundle/nerdcommenter"]
  path = .vim/bundle/nerdcommenter
  url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/vim-unimpaired"]
  path = .vim/bundle/vim-unimpaired
  url = git://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/django"]
  path = .vim/bundle/django
  url = git://github.com/vim-scripts/django.vim.git
[submodule ".vim/bundle/vim-javascript"]
  path = .vim/bundle/vim-javascript
  url = git://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/nginx.vim"]
  path = .vim/bundle/nginx.vim
  url = git://github.com/vim-scripts/nginx.vim.git
[submodule ".vim/bundle/vim-surround"]
  path = .vim/bundle/vim-surround
  url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-repeat"]
  path = .vim/bundle/vim-repeat
  url = git://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/vim-jade"]
  path = .vim/bundle/vim-jade
  url = git://github.com/digitaltoad/vim-jade.git
[submodule ".vim/bundle/vim-tmux"]
  path = .vim/bundle/vim-tmux
  url = git://github.com/acustodioo/vim-tmux.git
[submodule ".vim/bundle/html5.vim"]
  path = .vim/bundle/html5.vim
  url = git://github.com/othree/html5.vim.git
[submodule ".vim/bundle/vim-coffee-script"]
  path = .vim/bundle/vim-coffee-script
  url = git://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-fugitive"]
  path = .vim/bundle/vim-fugitive
  url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-extradite"]
  path = .vim/bundle/vim-extradite
  url = git://github.com/int3/vim-extradite.git
[submodule ".vim/bundle/neocomplcache"]
  path = .vim/bundle/neocomplcache
  url = git://github.com/Shougo/neocomplcache.git
[submodule ".vim/bundle/tagbar"]
  path = .vim/bundle/tagbar
  url = git://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/gist-vim"]
  path = .vim/bundle/gist-vim
  url = git://github.com/mattn/gist-vim.git
[submodule ".oh-my-zsh"]
  path = .oh-my-zsh
  url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim/bundle/sudo.vim"]
  path = .vim/bundle/sudo.vim
  url = git://github.com/vim-scripts/sudo.vim.git
[submodule ".vim/bundle/po.vim"]
  path = .vim/bundle/po.vim
  url = git://github.com/vim-scripts/po.vim--gray.git
[submodule ".vim/bundle/vim-json"]
  path = .vim/bundle/vim-json
  url = git://github.com/elzr/vim-json.git
[submodule ".vim/bundle/vim-git"]
  path = .vim/bundle/vim-git
  url = git://github.com/tpope/vim-git.git
[submodule ".vim/bundle/gundo.vim"]
  path = .vim/bundle/gundo.vim
  url = git://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/tumblr.vim"]
  path = .vim/bundle/tumblr.vim
  url = git://github.com/liamcurry/tumblr.vim.git
[submodule ".vim/bundle/vim-markdown"]
  path = .vim/bundle/vim-markdown
  url = git://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/vim-instant-markdown"]
  path = .vim/bundle/vim-instant-markdown
  url = git://github.com/liamcurry/vim-instant-markdown.git
[submodule ".vim/bundle/vim-colors-solarized"]
  path = .vim/bundle/vim-colors-solarized
  url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/Zenburn"]
  path = .vim/bundle/Zenburn
  url = git://github.com/jnurmine/Zenburn
[submodule ".config/powerline/addons"]
  path = .config/powerline/addons
  url = git://github.com/liamcurry/powerline-addons.git
[submodule ".powerline"]
  path = .powerline
  url = git://github.com/liamcurry/powerline.git
