[user]
  name = Liam Curry
  email = liam@curry.name
[github]
  user = liamcurry
[core]
  whitespace = fix,space-before-tab,tab-in-indent,trailing-space
  editor = vim
[apply]
  whitespace = fix
[help]
  autocorrect = 10
[merge]
  summary = true
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  grep = auto
[web]
  browser = open
[alias]
  tree = log --graph --decorate --pretty=oneline --abbrev-commit
  update-submodules = submodule foreach git pull origin
[push]
	default = simple
