[Desktop Entry]
Type=Application
Exec=xchat
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Xchat
Name=Xchat
Comment[en_US]=IRC client
Comment=IRC client
