"*":
  "atom-beautify":
    typescript: {}
  core:
    disabledPackages: [
      "autocomplete-atom-api"
      "autocomplete-css"
      "autocomplete-html"
      "autocomplete-plus"
      "autocomplete-snippets"
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-java"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-ruby-on-rails"
      "language-toml"
      "metrics"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "gloom"
    ]
  editor:
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "ec3facd7-b08b-44a0-be7a-2b5a9920fc22"
  "file-icons": {}
  "git-diff":
    showIconsInEditorGutter: true
  "linter-elm-make":
    autoscrollIssueIntoView: true
    showInferredTypeAnnotations: true
  "linter-eslint": {}
  "linter-tslint":
    fixOnSave: true
  "linter-ui-default":
    showPanel: true
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
  "minimap-git-diff":
    useGutterDecoration: true
